<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Card Validator</title>
</head>
<body>
    {{ if .Number }}
        <p>
        Card Number: {{ .Number }}<br>
        Card Holder: {{ .Name }}<br>
        Expiration Date: {{ .Expiry }}<br>
        {{ if .Valid }}Valid{{ else }}Invalid{{ end }}<br>
        </p>
    {{ else }}
    <h2>Enter Credit Card Info</h2>
    <form method="post">
        <label for="card_number">Card Number:</label><br>
        <input type="text" name="card_number" id="card_number" placeholder="1234 5678 9012 3456" required><br><br>

        <label for="card_holder">Card Holder Name:</label><br>
        <input type="text" name="card_holder" id="card_holder" placeholder="John Doe" required><br><br>

        <label for="expiry">Expiration Date:</label><br>
        <input type="text" id="expiry" name="expiry" placeholder="MM/YY" required><br><br>

        <input type="submit" value="Submit">
    </form>
    {{ end }}
</body>
</html>
